@charset "UTF-8";

/* footer */
.footer {
  height:100px;
  position: absolute;
  bottom: 0;
  width: 1000px;
  margin-top: 50px;
  padding-top: 50px;
  text-align: center;
}

.company_info {
  display: flex;
  justify-content: space-around;
  width: 800px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer_copyright {
  background: #37474f;
  color: white;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  footer {
    width: 400px;
    height: 100px;
    text-align: -webkit-center;
  }

  .company_info {
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.1em;
  }
}
